<div class="card">
  <div class="class-header">
    Add Book
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">Name:</div>
          <div class="col-md-8">
            <input type="text" class="form-control" /><br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">ISBN:</div>
          <div class="col-md-8">
            <input type="text" class="form-control" /><br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Short Description:</div>
          <div class="col-md-8">
            <textarea
              rows="5"
              cols="60"
              name="description"
              class="form-control"
            >
Enter short description here...</textarea
            ><br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Long Description:</div>
          <div class="col-md-8">
            <textarea
              rows="5"
              cols="60"
              name="description"
              class="form-control"
            >
Enter long description here...</textarea
            ><br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Author:</div>
          <div class="col-md-8">
            <input type="text" class="form-control" /><br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Category:</div>
          <div class="col-md-8">
            <input type="text" class="form-control" /><br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Edition:</div>
          <div class="col-md-8">
            <input type="text" class="form-control" /><br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Price:</div>
          <div class="col-md-8">
            <input type="text" class="form-control" /><br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Rating:</div>
          <div class="col-md-8">
            <input type="text" class="form-control" /><br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Image:</div>
          <div class="col-md-8">
            <input type="text" class="form-control" /><br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8" align="right">
            <button class="btn btn-primary" (click)="onClick()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
