<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Contact us:</div>
      <div class="text-center">
        <h3>Bodhidharma Heritage Book Store</h3>
      </div>

      <div class="text-center"></div>
      <div class="text-center">
        <a href="mailto:buybooks@BodhidharmaHeritageBookStore.com">buybooks@BodhidharmaHeritageBookStore.com</a>
      </div>
    </div>
  </div>
</div>